<div ng-controller="SmallFundsCtrl" class="app-view funds-view container-fluid">
    <div class="page-header">
        <h1>
            Institutional Investors
        </h1>
    </div>

    <small-funds-navigation fund="funds"></small-funds-navigation>

    <div ng-if="fetchFundsSuccess == false">
        <div class="alert alert-danger" role="alert">
            {{fetchFundsMessage}}
        </div>
    </div>

    <div class="panel panel-default">
		<div class="panel-heading">
			List
		</div>
        <div class="panel-heading" ng-class="{'loaded': !isLoading}">
            Please wait while loading data…
        </div>
		<div class="panel-body" ng-class="{'loading': isLoading}">
			<div class="btn-group funds-btn-group" role="group">
				<a class="btn btn-default" href="#/institutional-investors/{{letter}}" ng-repeat="letter in fundsLetters" ng-class="{'btn-primary': fundLetter === letter}">{{letter}}</a>
			</div>
			<input ng-model="fundQuery" class="form-control" type="text" value="" name="fundQuery" placeholder="Search">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead class="table-head">
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Filing Period</th>
							<th>Holdings Url</th>
							<th>Site Url</th>
							<th>Holdings Site Url</th>
						</tr>
					</thead>
					<tbody ng-repeat="fund in funds | filter:fundQuery">
						<tr>
							<td><a href="#/institutional-investor/{{fund.fundId}}">{{fund.fundId}}</a></td>
							<td><a href="#/institutional-investor/{{fund.fundId}}">{{fund.name}}</a></td>
							<td>{{fund.filingPeriod}}</td>
							<td><a href="#/institutional-investor/{{fund.fundId}}/holdings">Holdings</a></td>
							<td><a href="{{fund.fundUrl}}" target="_blank">Site Url</a></td>
							<td><a href="{{fund.holdingsUrl}}" target="_blank">Holdings Site Url</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
