<nav class="nav-top">
    <div class="row">
        <h2 ng-if="currentMenuItem === 'list-schools'" class="head">{{translation.LIST_SCHOOLS_URL_TITLE}}</h2>
        <h2 ng-if="currentMenuItem === 'add-school'" class="head">{{translation.ADD_SCHOOL_URL_TITLE}}</h2>
        <h2 ng-if="currentMenuItem === 'update-school'" class="head">{{translation.UPDATE_SCHOOL_URL_TITLE}}</h2>
        <ul class="main-nav">
            <li ng-if="!isLoggedIn">
                <a href="#/admin-login">{{translation.ADMIN_LOGIN_URL_TITLE}}</a>
            </li>
            <li ng-if="isLoggedIn">
                <a href="#" ng-click="logout()">{{translation.ADMIN_LOGOUT_URL_TITLE}}</a>
            </li>
            <li ng-class="{'active': currentMenuItem === 'list-schools'}">
                <a href="#/list-schools">{{translation.LIST_SCHOOLS_URL_TITLE}}</a>
            </li>
            <li ng-class="{'active': currentMenuItem === 'add-school'}">
                <a href="#/add-school">{{translation.ADD_SCHOOL_URL_TITLE}}</a>
            </li>
        </ul>
    </div>
</nav>
