<div ng-controller="SmallFundCtrl" class="app-view fund-view container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-md-10">
                <h1>Institutional Investor - {{fund.name}}</h1>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary pull-right clear-cache-button" type="button" data-ng-click="clearFundCache()">Clear Cache</button>
            </div>
        </div>
    </div>

    <small-fund-navigation fund="fund"></small-fund-navigation>

    <div ng-if="fetchFundSuccess == false">
        <div class="alert alert-danger" role="alert">
            {{fetchFundMessage}}
        </div>
    </div>


	<div class="panel panel-default" >
		<div class="panel-heading">
			<a class="collapse-link" style="cursor:pointer" data-toggle="collapse" data-target="#updateFundPanel">Update Info</a>
		</div>
		<div id="updateFundPanel" class="panel-body collapse in" >
			<form ng-submit="updateFund()" name="updateFundForm">
				<div class="row">
					<div class="col-md-12">
						<div ng-if="fundUpdateSuccess == false">
							<div class="alert alert-danger" role="alert">
								{{fundUpdateMessage}}
							</div>
						</div>
						<div ng-if="fundUpdateSuccess == true">
							<div class="alert alert-success" role="alert">
								{{fundUpdateMessage}}
							</div>
						</div>
						<div ng-if="clearCacheSuccess == false">
							<div class="alert alert-danger" role="alert">
								{{clearCacheMessage}}
							</div>
						</div>
						<div ng-if="clearCacheSuccess == true">
							<div class="alert alert-success" role="alert">
								{{clearCacheMessage}}
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="fundNameInput">Name</label>
							<input data-ng-model="fund.name" id="fundNameInput" class="form-control" type="text" value="" name="fundName" placeholder="Name" ng-disabled="inputDisabled" required>
						</div>
					</div>
					<div class="col-md-6">
                        <div class="form-group">
                            <label for="fundIdInput">ID</label>
                            <input data-ng-model="fund.fundId" id="fundIdInput" class="form-control" type="text" value="" name="fundId" placeholder="Fund ID" required disabled="disabled">
                        </div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="adminPassInput">Admin Password</label>
							<input data-ng-model="fundInputAdminpass" class="form-control" id="adminPassInput" type="password" value="" size="20" name="password" placeholder="Admin password" required ng-disabled="inputDisabled">
						</div>
						<div class="form-group">
							<button class="btn btn-primary" type="submit" ng-disabled="updateFundForm.$invalid || inputDisabled">Submit</button>
							<button class="btn btn-secondary" type="button" data-ng-click="initFundObject()" ng-disabled="inputDisabled">Clear</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			CIK List
		</div>
		<div class="panel-body">
            <div ng-if="fetchFundCiksSuccess == false">
                <div class="alert alert-danger" role="alert">
                    {{fetchFundCiksMessage}}
                </div>
            </div>
			<div ng-if="cikRemoveSuccess == false">
				<div class="alert alert-danger" role="alert">
					{{cikRemoveMessage}}
				</div>
			</div>
			<div ng-if="cusipRemoveSuccess == true">
				<div class="alert alert-success" role="alert">
					{{cikRemoveMessage}}
				</div>
			</div>
			<!--<input ng-model="fundCikQuery" class="form-control" type="text" value="" name="fundCikQuery" placeholder="Search CIK">-->
			<div class="table-responsive">
				<table class="table table-striped">
					<thead class="table-head">
						<tr>
							<th>CIK</th>
							<th>Creation Date</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody ng-repeat="fundCik in fundCiks | filter:fundCikQuery">
						<tr>
							<td>{{fundCik.fund_cik}}</td>
							<td>{{fundCik.creation_datetime}}</td>
							<td><a href="" class="glyphicon glyphicon-remove-sign" ng-click="openRemoveDialog(fund.fundId, fundCik.fund_cik)"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<a class="collapse-link" style="cursor:pointer" data-toggle="collapse" data-target="#addCikPanel">Add CIK</a>
		</div>
		<div id="addCikPanel" class="panel-body collapse" >
			<form ng-submit="addFundCik()" name="addFundCikForm">
				<div ng-if="fundCikInsertSuccess == false">
					<div class="alert alert-danger" role="alert">
						{{fundCikInsertMessage}}
					</div>
				</div>
				<div ng-if="fundCikInsertSuccess == true">
					<div class="alert alert-success" role="alert">
						{{fundCikInsertMessage}}
					</div>
				</div>
				<div class="form-group">
					<label for="fundCikInput">CIK</label>
					<input data-ng-model="inputFundCik" id="fundCikInput" class="form-control" type="number" value="" name="fundCikInput" placeholder="CIK" required ng-disabled="inputDisabled">
				</div>
				<div class="form-group">
					<label for="fundCikAdminPassInput">Admin Password</label>
					<input data-ng-model="fundCikInputAdminpass" class="form-control" id="fundCikAdminPassInput" type="password" value="" size="20" name="password" placeholder="Admin password" required ng-disabled="inputDisabled">
				</div>
				<div class="form-group">
					<button class="btn btn-primary" type="submit" ng-disabled="addFundCikForm.$invalid || inputDisabled">Submit</button>
					<button class="btn btn-secondary" type="button" data-ng-click="inputFundCik='';cikInputAdminpass=''" ng-disabled="inputDisabled">Clear</button>
				</div>
			</form>
		</div>
	</div>
</div>
