<div ng-controller="SmallFund13fFilingsCtrl" class="app-view fund-view container-fluid">
    <div class="page-header">
        <h1>
            <h1>Institutional Investor - {{fund.name}}</h1>
        </h1>
    </div>

    <small-fund-navigation fund="fund"></small-fund-navigation>

    <div ng-if="fetchFundSuccess == false">
        <div class="alert alert-danger" role="alert">
            {{fetchFundMessage}}
        </div>
    </div>

    <div ng-if="fetchFund13fFilingsSuccess == false">
        <div class="alert alert-danger" role="alert">
            {{fetchFund13fFilingsMessage}}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Fund 13F Filings List
        </div>
        <div class="panel-heading" ng-class="{'loaded': !isLoading}">
            Please wait while loading data…
        </div>
		<div class="panel-body" ng-class="{'loading': isLoading}">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead class="table-head">
						<tr>
							<th>Id</th>
							<th>Accession Number</th>
							<th>Updated Datetime </th>
							<th>URL</th>
                            <th>Filing Period</th>
                            <th>State</th>
                            <th>Processing Datetime</th>
                            <th>Processing Script</th>
						</tr>
					</thead>
					<tbody ng-repeat="filing in filings13F">
						<tr>
							<td>{{filing.id}}</td>
							<td>{{filing.accessionNumber}}</td>
							<td>{{filing.updatedDateTime}}</td>
							<td><a href="{{filing.link}}" target="_blank">SEC Link</a></td>
                            <td>{{filing.filingPeriod}}</td>
                            <td>{{filing.stateDisplay}}</td>
                            <td>{{filing.processingDateTime}}</td>
                            <td>{{filing.processingScript}}</td>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
