<h1 class="admin-signup-h1-title">Admin Sigup</h1>

<div class="admin-signup-div" ng-controller="LoginController">
    <form ng-submit="login(credentials)" name="adminSignup">

        <div class="row">        
            <div class="col span-1-of-2 admin-input-col">
                <label class="admin-signup-label" for="name">Email</label>
            </div>
            <div class="col span-1-of-2 admin-signup-label-col admin-input-col">
                <input data-ng-model="credentials.email" id="" class="admin-signup-input" type="email" value="" name="" placeholder="email" required>
            </div>
        </div>

        <div class="row">
            <div class="col span-1-of-2 admin-input-col">
                <label class="admin-signup-label" for="name">Password</label>
            </div>
            <div class="col span-1-of-2 admin-signup-label-col admin-input-col">
                <input data-ng-model="credentials.password" id="" class="admin-signup-input" type="text" value="" name="" placeholder="password" required>
            </div>
        </div>

        <div class="row">
            <div class="col span-1-of-2 admin-input-col">
                <label>&nbsp;</label>
            </div>
            <div class="col span-1-of-2 admin-signup-label-col admin-input-col">
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>