<div ng-controller="SmallFundHoldingsCtrl" class="app-view fund-view container-fluid">
    <div class="page-header">
        <h1>
            <h1>Institutional Investor - {{fund.name}}</h1>
        </h1>
    </div>

    <small-fund-navigation fund="fund"></small-fund-navigation>

    <div ng-if="fetchFundSuccess == false">
        <div class="alert alert-danger" role="alert">
            {{fetchFundMessage}}
        </div>
    </div>

    <div ng-if="fetchFilingPeriodsSuccess == false">
        <div class="alert alert-danger" role="alert">
            {{fetchFilingPeriodsMessage}}
        </div>
    </div>


    <div ng-if="fetchFundHoldingsSuccess == false">
        <div class="alert alert-danger" role="alert">
            {{fetchFundHoldingsMessage}}
        </div>
    </div>

    <div class="panel panel-default">
		<div class="panel-heading">
			Holdings List
		</div>
        <div class="panel-heading" ng-class="{'loaded': !isLoading}">
            Please wait while loading data…
        </div>
		<div class="panel-body" ng-class="{'loading': isLoading}">
			<div class="form-group">
				<label for="filingPeriodInput" class="control-label">Filing Period</label>
				<select class="form-control" ng-model="filingPeriod" ng-change="fetchFundHoldings()">
					<option ng-repeat="filingPeriod in filingPeriods" value="{{filingPeriod}}">{{filingPeriod}}</option>
				</select>
			</div>
			<input ng-model="fundHoldingQuery" class="form-control" type="text" value="" name="fundHoldingQuery" placeholder="Search Holdings">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead class="table-head">
						<tr>
							<th>Holding Id</th>
							<th>Filing Period</th>
							<th>Type</th>
							<th>Type2</th>
							<th>Value</th>
							<th>NShares</th>
							<th>Option</th>
							<th>Ticker</th>
							<th>Company Name</th>
							<th>Ticker CIK</th>
							<th>Percentage</th>
							<th>Value Change</th>
							<th>Activity</th>
							<th>Value (Previous)</th>
							<th>NShares (Previous)</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody ng-repeat="fundHolding in fundHoldings | filter:fundHoldingQuery">
						<tr>
							<td><a href="#/institutional-investor/{{fundId}}/holding/{{fundHolding.id}}">{{fundHolding.id}}</a></td>
							<td>{{fundHolding.filingPeriod}}</td>
							<td>{{fundHolding.type}}</td>
							<td>{{fundHolding.type2}}</td>
							<td>{{fundHolding.value}}</td>
							<td>{{fundHolding.nShares}}</td>
							<td>{{fundHolding.option}}</td>
							<td>{{fundHolding.ticker}}</td>
							<td>{{fundHolding.companyName}}</td>
							<td>{{fundHolding.tickerCik}}</td>
							<td>{{fundHolding.percentage}}</td>
							<td>{{fundHolding.valueChange}}</td>
							<td>{{fundHolding.activity}}</td>
							<td>{{fundHolding.valuePrevious}}</td>
							<td>{{fundHolding.nSharesPrevious}}</td>
							<td><a href="" class="glyphicon glyphicon-remove-sign" ng-click="openRemoveDialog(fundHolding.id)"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
